# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

.ssh

# Generated docs
docs/

# Coverage reports
coverage

# API keys and secrets
.env
.envrc
example/
.vscode
build/